@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

:root {
    --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    --menu-color: #f5f5f5;
    --nav-color: #c5c5c5;
    --black-color: #212143;
    --border-line: 0.1rem solid #000;
    --btn-color: #44b2f2;
}

* {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
    overflow: scroll;
}

body {
    position: relative;
}

/* header css */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 8%;
    background: #fff;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--border-line);
}

    header .logo {
        margin-left: 4rem;
        padding: 0 2rem;
        width: 10rem;
        cursor: pointer;
    }

    header #sub-header {
        display: flex;
        align-items: center;
        margin-right: 4rem;
    }

        header #sub-header i {
            cursor: pointer;
            text-align: center;
            font-size: 2rem;
            color: #000;
        }

        header #sub-header button {
            background-color: white;
            color: black;
            height: 2.5rem;
            width: 6rem;
            font-size: 1.5rem;
            cursor: pointer;
            margin-left: 1rem;
            margin-right: 4rem;
            border: var(--border-line);
            border-radius: .5rem;
        }

        header #sub-header img {
            cursor: default;
            height: 2.5rem;
            border: .1rem solid black;
            border-radius: 50%;
            margin-left: 4rem;
            margin-right: 2rem;
        }

/* left menu css */
#nav {
    position: fixed;
    top: 8%;
    left: 0;
    width: 15%;
    height: 100%;
    background-color: var(--menu-color);
    border: var(--border-line);
    border-top: none;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.3);
}

.left-menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    width: 100%;
    background: var(--menu-color);
}

    .left-menu nav {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        width: 100%;
    }

nav a {
    display: flex;
    align-items: center;
    height: 6rem;
    cursor: pointer;
    border-bottom: var(--border-line);
}

nav i {
    line-height: 6rem;
    padding-left: 3rem;
    color: #000;
    font-size: 2rem;
}

nav span {
    width: 70%;
    height: 6rem;
    padding-left: 2rem;
    font-size: 2rem;
    color: var(--black-color);
    flex: none;
    line-height: 6rem;
    font-weight: 600;
}

#container {
    position: relative;
}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 6rem;
    padding-right: 10%;
    background: var(--nav-color);
    border-bottom: var(--border-line);
    font-size: 4rem;
    font-weight: 700;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.3);
}

/* profile css */
#profile {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 15%;
    top: 8%;
}

    #profile .lbShow {
        background: #44b2f2;
        padding: 2rem 4rem;
        color: #fff;
        font-weight: bold;
        font-size: 4rem;
        position: fixed;
        bottom: 10%;
        right: 5%;
        border-radius: 2rem;
    }

    #profile .basic-info {
        position: absolute;
        top: 10%;
        left: 5%;
        width: 40%;
        background: rgba(0, 0, 0, 0.05);
        padding: 2rem;
        border: var(--border-line);
        border-radius: 3rem;
        box-shadow: 1rem 1rem 1.5rem rgba(0, 0, 0, 0.3);
    }

        #profile .basic-info .title,
        #profile .contact-info .title {
            font-size: 3rem;
            font-weight: bolder;
            margin-bottom: 2%;
            text-transform: uppercase;
            color: #000;
            font-weight: 700;
        }

    #profile .box-item {
        margin-left: 6%;
        margin-top: 2%;
        display: flex;
        align-items: center;
    }

        #profile .box-item .label {
            font-size: 2rem;
            color: #00189d;
            font-weight: bold;
            width: 30%;
        }

        #profile .box-item .input {
            border-radius: .4rem;
            font-size: 2.2rem;
            width: 70%;
            color: #00189d;
            text-transform: none !important;
            border: .1rem solid #44b2f2;
        }

            #profile .box-item .input:focus {
                padding-left: 2rem;
                color: orangered;
                font-weight: bolder;
                border: dashed;
            }

            #profile .box-item .input:valid {
                padding: 0 .8em;
            }

    /* contact info css */
    #profile .contact-info {
        position: absolute;
        top: 35%;
        right: 18%;
        width: 35%;
        background: rgba(0, 0, 0, 0.05);
        padding: 2rem;
        border: var(--border-line);
        border-radius: 3rem;
        box-shadow: 1rem 1rem 1.5rem rgba(0, 0, 0, 0.3);
    }

    /* box avatar css */

    #profile .box-avatar {
        position: absolute;
        top: 12%;
        left: 62%;
    }

        #profile .box-avatar img {
            width: 20rem;
            position: absolute;
            border: var(--border-line);
            border-radius: 3rem;
            box-shadow: 1rem 1rem 1.5rem rgba(0, 0, 0, 0.3);
        }

    /* button update css */
    #profile .update-btn {
        position: absolute;
        left: 40%;
        bottom: 20%;
        text-transform: uppercase;
        width: 14rem;
        height: 6rem;
        background: var(--btn-color);
        color: #fff;
        border: var(--border-line);
        border-radius: 2rem;
        font-size: 18px;
        font-weight: 700;
        box-shadow: 1rem 1rem 1.5rem rgba(0, 0, 0, 0.3);
    }

        #profile .update-btn:hover {
            background: #ccc;
            color: #00189d;
            letter-spacing: .2rem;
            cursor: pointer;
        }

/* work schedule css */
#work-schedule {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 15%;
    top: 8%;
}

#workScheduleTable {
    position: fixed;
    width: 75%;
    top: 18%;
    left: 20%;
    background: #00189d;
    box-shadow: 1rem 1rem 1.5rem rgba(0, 0, 0, 0.6);
}

    #workScheduleTable th,
    #workScheduleTable td {
        padding: 1.5rem;
        border: .2rem solid var(--border-line);
        text-align: center;
    }

    #workScheduleTable th {
        background-color: #aaa;
        font-weight: bolder;
        font-size: 2rem;
    }

    #workScheduleTable td {
        background-color: #fff;
        font-size: 1.5rem;
    }

    #workScheduleTable tr:nth-child(even) td {
        background-color: #f9f9f9;
    }

/* account and benefit css */
#account-benefit {
    position: relative;
}

    #account-benefit #title {
        position: fixed;
        top: 8%;
        left: 15%;
    }

    #account-benefit .chart-container {
        position: fixed;
        top: 18%;
        left: 20%;
        width: 40%;
        padding: 2rem;
        box-shadow: 0 0.9rem 1.5rem rgba(0, 0, 0, 0.3);
        border-radius: 3rem;
        background: rgba(0, 0, 0, 0.05);
        border: .1rem solid #00189d;
    }

        #account-benefit .chart-container .text {
            font-size: 3rem;
            color: #00189d;
            font-weight: 600;
        }

    #account-benefit .benefit {
        position: fixed;
        top: 18%;
        right: 5%;
        width: 30%;
        padding-left: 2rem;
        border: .1rem solid #00189d;
        border-radius: 3rem;
        background: rgba(0, 0, 0, 0.05);
        box-shadow: 0 0.9rem 1.5rem rgba(0, 0, 0, 0.5);
    }

        #account-benefit .benefit h1 {
            font-size: 3rem;
            color: #00189d;
            font-weight: bolder;
            margin-top: 1rem;
        }

        #account-benefit .benefit h2 {
            margin-left: 4rem;
            font-size: 2rem;
            margin-bottom: 2rem;
            margin-top: 2.5rem;
        }

        #account-benefit .benefit .lbTitle {
            margin-left: 8rem;
            display: inline-block;
            width: 50%;
            font-size: 1.6rem;
        }

        #account-benefit .benefit .employee-info {
            display: inline-block;
            margin-bottom: 1.5rem;
            font-size: 1.6rem;
        }

        #account-benefit .benefit ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            margin-bottom: 1rem;
        }

            #account-benefit .benefit ul li {
                margin-left: 8rem;
                display: inline-block;
                width: 50%;
                margin-bottom: 1rem;
                font-size: 1.6rem;
            }
